<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ardi_project">

    <!-- Izinkan penggunaan Internet (jika diperlukan untuk TextToSpeech atau lainnya) -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Izin akses jaringan jika menggunakan fitur lain yang memerlukan akses jaringan -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ardi_Project"
        tools:targetApi="31">

        <!-- Aktivitas Calculator -->
        <activity
            android:name=".Calculator"
            android:exported="false" />

        <!-- Aktivitas untuk Login -->
        <activity
            android:name=".LoginBackground"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Ardi_Project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity (Tujuan setelah login) -->

        <!-- Aktivitas MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Ardi_Project" />
    </application>

</manifest>
